.map-container {
  border: 2px solid #080808; /* Border style */
  border-radius: 4px; /* Optional: Rounded corners */
}
.search-button {
  &.MuiButtonBase-root {background-color: white; padding: 8px 20px; color: black}; 
  &.MuiButtonBase-root:hover {color: white};
}
.radius-button {
 &.MuiTextField-root  {width: 100%;};
}
